html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
}

@media (min-width: 320px) {
  .navbar-container-bg {
    background-image: url("./Assets/background.png");
    height: 800px;
    width: auto;
  }
  .navbar-logo {
    display: flex;
    justify-content: space-evenly;
  }
  .menu-img {
    padding-left: 160px;
  }
  .navbar-info {
    text-align: center;
  }
  .navbar-info h1 {
    width: auto;
    font-size: 3.8rem;
  }
  .navbar-info p {
    width: auto;
    font-size: 1.27rem;
    padding: 15px;
  }
  .nav-button-container {
    display: flex;
    justify-content: center;
    padding: 20px;
  }
  .nav-black-button {
    width: 250px;
    height: 50px;
    background-color: black;
  }
  .color-white {
    color: white;
    font-weight: bold;
  }
  .color-gray {
    color: grey;
  }
  .p-notcard {
    text-align: center;
    font-size: 1.27rem;
    padding: 3px;
  }
  .snippet-container {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .snippet-image {
    width: 450px;
  }
}
